<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="qr-code">
      <ion-icon aria-hidden="true" name="qr-code-outline"></ion-icon>
      <ion-label>Codigo QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qr-code">
      <ion-icon aria-hidden="true" name="code-working-outline"></ion-icon>
      <ion-label>Codigo QR2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ocr-code">
      <ion-icon aria-hidden="true" name="code-working-outline"></ion-icon>
      <ion-label>Codigo OCR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bar-code">
      <ion-icon aria-hidden="true" name="barcode-outline"></ion-icon>
      <ion-label>Codigo de Barras</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>